{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    {% if app.request.requestUri == '/tasks' %}
        <h2>Liste de l'ensemble de vos tâches</h2>
    {% endif %}
    {% if app.request.requestUri == '/tasks/todo' %}
        <h2>Liste de l'ensemble de vos tâches à faire</h2>
    {% endif %}
    {% if app.request.requestUri == '/tasks/done' %}
        <h2>Liste de l'ensemble de vos tâches terminées</h2>
    {% endif %}
    <div class="row">
        {% for task in tasks %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="card m-2">
                <div class="caption">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h4><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h4>
                            </div>
                            <div class="col text-end">
                                {% if task.isDone %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-check-circle-fill text-success" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                    </svg>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x-circle-fill text-danger" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                                    </svg>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>{{ task.content }}</p>
                    </div>
                </div>

                <div class="card-footer text-center">
                    <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                        <button class="btn btn-outline-primary btn-sm m-1">
                            {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                        </button>
                    </form>
                    <form action="{{ path('task_delete', {'id' : task.id }) }}">
                        <button class="btn btn-outline-danger btn-sm m-1">Supprimer</button>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâches dans cette section.
            </div>
        {% endfor %}
    </div>
    <div class="row text-center m-3">
        <a href="{{ path('task_create') }}" class="btn btn-primary">Créer une tâche</a>
    </div>
{% endblock %}
